body{
  background: url("pics\sqlf1_250_200_mm.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c0d09c;
}

#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.landlist{
  list-style-type: none
}

.displaylands{
  
  justify-content: center;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.route{
  margin-top: 21%;
  text-align: center;
}