body{
  background: url("pics/sqlf1_250_200_mm.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c0d09c;
  font-family: "Pixel NES";
}
html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

progress{
  appearance: none;
  height: 20px;
  border: 2px solid black;
}

progress::-webkit-progress-value {
  background: #ff0000;
  /* border-top: 1px solid rgb(46, 46, 53); 
  border-left: 1px solid black;  */
  border-right: 2px solid black; 
  /* border-bottom: 3px solid black;  */
}


html, body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.fightbutton:hover {
  background-color: #ffffff;
  box-shadow: none;
  transform: none;
}

.fightbutton:active{
  background-color: #d70d0d;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}


.landlist{
  list-style-type: none;
}

.displaylands::-webkit-scrollbar {
  display: none;
}

.hp{
  font-family: "Pixel NES";
}

button{
  font-family: "Pixel NES";
  width: 250px;
  padding: 3%;
  margin: 1%;
  border-top: 3px solid rgb(46, 46, 53); 
  border-left: 3px solid black; 
  border-right: 8px solid black; 
  border-bottom: 6px solid black; 
}

button:hover {
  background-color: #8b8e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.displaylands{
  column-count: 4;
  justify-content: center;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  
}

.landsul{
  margin: 0;
}

.route{
  margin-top: 21%;
  text-align: center;
  font-family: "Pixel NES";
}

@font-face {
  font-family: "Pixel NES";
  src: url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.eot");
  src: url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/f555c47ffc99d5fbcc445e615749dc38.svg#Pixel NES")format("svg");
}

.choosenPokemons{
font-family: "Pixel NES";
flex-direction: row-reverse;
display: flex;
justify-content: space-between;
padding-left: 5%;
padding-right: 5%;
margin-bottom: 1%;
margin-top: 5px;
}

.backpackPokemons{
  font-family: "Pixel NES";
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-self: flex-start;
  
  }

.enemyPoke{
  border-style: solid;
  border-top: 3px solid rgb(46, 46, 53); 
  border-left: 3px solid black; 
  border-right: 8px solid black; 
  border-bottom: 6px solid black; 
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
  width: 200px

}

.backpack{
  border-style: solid;
  border-top: 5px solid rgb(46, 46, 53); 
  border-left: 5px solid black; 
  border-right: 5px solid black; 
  border-bottom: 5px solid black; 
  padding: 5px;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #89966a;
}
.backpackPokeButton{
  width: 170px;
}

.playersPoke{
  border-style: solid;
  border-top: 3px solid rgb(46, 46, 53); 
  border-left: 3px solid black; 
  border-right: 8px solid black; 
  border-bottom: 6px solid black; 
  /* padding-left: 6%;
  padding-right: 6%; */
  background-color: white;
  width: 200px

}

.startTheFight{
  padding: 1%;
}

.mainpage{
  display: flex;
  height: 100vh;
  /* width: 100vh; */
  flex-direction: column;
  justify-content: center;
}

.battlearena{
  background: url("pics/current-ptu-custom-maps-for-the-aeris-region-feel-free-to-v0-72986g7gmiua1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.enemy{
  margin-top: 150px;
}

.friendly-image {
  transition: transform 0.5s ease;
}

.friendly-image.moved {
  transform: translateY(-20px);
}

.enemy-image {
  transition: transform 0.5s ease;
}

.enemy-image.moved {
  transform: translateY(20px);
}